@using BugTracker.Models
@model List<TicketNotification>
    @{ 
        var time = DateTimeOffset.UtcNow.Subtract(new TimeSpan(18, 0, 0));
    }
<div class="message-center">
    @foreach (var item in Model)
    {
    <a href="/BT/Ticket/@item.TicketID">
        <div class="user-img"> <img src="~/Template/img/blank-profile-picture.svg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
        <div class="mail-contnet">
            <h5>@item.TriggeredByUser.DisplayName</h5>
            <span class="mail-desc">@item.Notification</span> 
            <span class="time">
            @if (item.Created > time)
            {
                @item.Created.Value.ToString("h:mm tt")
            }
            else
            {
                @item.Created.Value.ToString("MMM dd")
            }
            </span>
        </div>
    </a> 
    }

    @*<a href="javascript:void(0)">
        <div class="user-img"> <img src="~/Template/img/blank-profile-picture.svg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
        <div class="mail-contnet">
            <h5>Sonu Nigam</h5>
            <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
        </div>
    </a> <a href="javascript:void(0)">
        <div class="user-img"> <img src="~/Template/img/blank-profile-picture.svg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
        <div class="mail-contnet">
            <h5>Arijit Sinh</h5>
            <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
        </div>
    </a> <a href="javascript:void(0)">
        <div class="user-img"> <img src="~/Template/img/blank-profile-picture.svg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
        <div class="mail-contnet">
            <h5>Pavan kumar</h5>
            <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
        </div>
    </a>*@
</div>