@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../Template/plugins/images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="../Template/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="../Template/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../Template/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="../Template/css/colors/blue.css" id="theme" rel="stylesheet">
</head>
<body>
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <br />
                <br />
                <h3>
                    Success! Please check your email to reset your password.
                </h3>
                <br />
                <br />
                <a href="@Url.Action("Login","Account")" id="back-to-login" class="text-dark pull-right"><i class="fa fa-arrow-left m-r-5"></i> Back to login.</a>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../Template/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../Template/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../Template/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>

    <!--slimscroll JavaScript -->
    <script src="../Template/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../Template/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../Template/js/custom.js"></script>
    <!--Style Switcher -->
    <script src="../Template/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

